.for{
    &__content{
        @include flex-center();
        flex-direction: column;
        background: #FFFAF2;
        border: 1px solid #DDDDDD;
        box-sizing: border-box;
        box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.08);
        border-radius: 10px;
        margin: 15px;
    }
    &__row{
        margin: 0 -15px;
    }
    &__title{
        @include font($color-black,42px,bold,$font-fam);
        text-align: center;
        &--big{
            max-width: 254px;
            line-height: 52px;
        }
    }
    &__subtitle{
        @include font($color-black,16px,500,$font-fam);
        text-align: center;
        margin-top: 16px;
        &--long{
            max-width: 435px;
            line-height: 28px;
        }
    }
    &__button{
        @include font($color-black,16px,bold,$font-fam);
        text-align: center;
        background: #FFFAF2;
        border: 1px solid #DDDDDD;
        box-sizing: border-box;
        box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.08);
        border-radius: 10px;
        cursor: pointer;
        padding: 12px 37px 16px;
        margin: 23px 0 34px;
        transition: 0.3s;
        &:hover{
            border: 1px solid transparent;
            background-color: #C47344;
            transform: scale(1.1);
            color: #FFFFFF;
        }
    }
    &__img{
        margin: 51px 136px 26px;
    }
}