.partners{
    background-color: $color-herobg;
    &__row{
        justify-content: space-around;
    }
    &__image{
        margin-bottom: 34px;
    }
    &__content{
        position: relative;
        display: block;
        text-align: center;
      
    }
        &::after{
        position: absolute;
        left: 700px;
        top:  510px;
        width: 100%;
        height: 100%;
       content:url(../img/png/link.png)
    }
    &__link{
        @include font($color-korichnevy,16px,bold,$fonts-roboto);
        margin-bottom: 20px;
        &:hover{
            cursor: pointer;
            color: #d48153;
        }
    }
}