@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
.col-1 {
  width: 8.333%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333%;
}

.col-5 {
  width: 41.65%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-12 {
  width: 100%;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero {
  background-color: #FFF8EE;
}

.hero__button {
  margin: 50px auto 11px auto;
}

.hero__button:hover .button__left {
  -webkit-transform: scale(1) translate(10%);
          transform: scale(1) translate(10%);
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

.hero__title {
  color: #322F2E;
  font-size: 110px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  margin: 0 auto 28px auto;
  text-align: center;
}

.hero__description {
  color: #322F2E;
  font-size: 21px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  margin: 28px auto 20px auto;
  width: 524px;
  text-align: center;
  line-height: 33px;
}

.button__left {
  background-color: #F9A38F;
  border-radius: 20px;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  outline: none;
  border: none;
  padding: 3px 14px 3px 11px;
}

.button__right {
  background-color: #F9EDE2;
  border-radius: 20px;
  color: #4D4D4D;
  font-size: 12px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  outline: none;
  border: none;
  padding: 3px 20px 3px 31px;
  margin-left: -12px;
}

.button__middle {
  background-color: #C47344;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  border-radius: 30px;
  border: none;
  outline: none;
  padding: 14px 31px 13px 32px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button__middle:hover {
  background-color: #5e2708;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

.partners {
  background-color: #FFF8EE;
}

.partners__row {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.partners__image {
  margin-bottom: 34px;
}

.partners__content {
  position: relative;
  display: block;
  text-align: center;
}

.partners::after {
  position: absolute;
  left: 700px;
  top: 510px;
  width: 100%;
  height: 100%;
  content: url(../img/png/link.png);
}

.partners__link {
  color: #C47344;
  font-size: 16px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
}

.partners__link:hover {
  cursor: pointer;
  color: #d48153;
}
