@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
.col-1 {
  width: 8.333%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333%;
}

.col-5 {
  width: 41.65%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-12 {
  width: 100%;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#FFFFFF)), #F9EEE3;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%), #F9EEE3;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header {
  padding: 30px 0;
}

.header__link {
  color: #322F2E;
  font-size: 15px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.header__link:hover {
  color: #C47344;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header__button {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background: #C47344;
  border-radius: 50px;
  padding: 14px 28px;
  cursor: pointer;
  border: none;
}

.header__list {
  margin-right: 40px;
}

.header__list:nth-last-child() {
  margin-right: 30px;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__bg {
  margin: 80px 0 132px;
  background-image: url(../img/png/Frame.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.hero__button {
  margin: 50px auto 11px auto;
}

.hero__button:hover .button__left {
  -webkit-transform: scale(1) translate(10%);
          transform: scale(1) translate(10%);
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

.hero__title {
  color: #322F2E;
  font-size: 110px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  margin: 0 auto 28px auto;
  text-align: center;
}

.hero__description {
  color: #322F2E;
  font-size: 21px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  margin: 28px auto 20px auto;
  width: 524px;
  text-align: center;
  line-height: 33px;
}

.button__left {
  background-color: #F9A38F;
  border-radius: 20px;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  outline: none;
  border: none;
  padding: 3px 14px 3px 11px;
}

.button__right {
  background-color: #ebd5c3;
  border-radius: 20px;
  color: #4D4D4D;
  font-size: 12px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  outline: none;
  border: none;
  padding: 3px 20px 3px 31px;
  margin-left: -12px;
}

.button__middle {
  background-color: #C47344;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  border-radius: 30px;
  border: none;
  outline: none;
  padding: 14px 31px 13px 32px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button__middle:hover {
  background-color: #5e2708;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

.partners__row {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.partners__image {
  margin: 52px 0 34px 0;
}

.partners__content {
  position: relative;
  display: block;
  text-align: center;
}

.partners__link {
  color: #C47344;
  font-size: 16px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  position: relative;
}

.partners__link:hover {
  cursor: pointer;
  color: #e39d76;
}

.partners__link::after {
  position: absolute;
  right: -73px;
  top: 0;
  width: 100%;
  height: 100%;
  content: url(../img/png/link.png);
}

.for__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFFAF2;
  border: 1px solid #DDDDDD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.08);
          box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  margin: 15px;
}

.for__row {
  margin: 0 -15px;
}

.for__title {
  color: #322F2E;
  font-size: 42px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.for__title--big {
  max-width: 254px;
  line-height: 52px;
}

.for__subtitle {
  color: #322F2E;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-top: 16px;
}

.for__subtitle--long {
  max-width: 435px;
  line-height: 28px;
}

.for__button {
  color: #322F2E;
  font-size: 16px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-align: center;
  background: #FFFAF2;
  border: 1px solid #DDDDDD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.08);
          box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  cursor: pointer;
  padding: 12px 37px 16px;
  margin: 23px 0 34px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.for__button:hover {
  border: 1px solid transparent;
  background-color: #C47344;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #FFFFFF;
}

.for__img {
  margin: 51px 136px 26px;
}

.money {
  margin: 240px 0 136px;
}

.money__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.money__title {
  color: #322F2E;
  font-size: 53px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  line-height: 62px;
  max-width: 465px;
}

.money__text {
  line-height: 33px;
  color: #322F2E;
  font-size: 21px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  max-width: 416px;
  margin: 25px 0 23px;
}

.money__quiz {
  background: #32686F;
  -webkit-box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.55);
          box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.55);
  border-radius: 10px;
  width: 220px;
  height: 260px;
  margin-right: 85px;
  margin-top: -50px;
}

.money__quizcontent {
  margin: 19px 27px 23px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.money__img {
  max-width: 64px;
  max-height: 37px;
  margin-bottom: 12px;
}

.money__link {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.money__link--first {
  margin-bottom: 23px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.money__link--second {
  margin-right: 110px;
}

.money__subtitle {
  color: #FFFFFF;
  font-size: 28px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  line-height: 32px;
  margin-bottom: 32px;
}

.money__line {
  background-color: rgba(255, 255, 255, 0.18);
  width: 170px;
  height: 1px;
  margin-bottom: 8px;
}

.money__button {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#FFFFFF)), #F9EEE3;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%), #F9EEE3;
  color: #322F2E;
  font-size: 15px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  padding: 11px 27px 16px;
  border: 2px solid #E1DED9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50px;
}

.insight {
  margin-bottom: 150px;
}

.insight__content {
  margin: 89px 0 96px;
}

.insight__image {
  margin: 43px 80px 45px 60px;
}

.insight__background {
  background-color: #FAF7F3;
}

.insight__title {
  color: #322F2E;
  font-size: 40px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.insight__description {
  color: #322F2E;
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  margin: 24px 0 31px;
  line-height: 31px;
}

.insight__input {
  color: #322F2E;
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 12px 153px 11px 31px;
  position: relative;
}

.insight__input::after {
  position: absolute;
  content: url(../img/png/Group1.png);
  top: 0;
  right: -100px;
  width: 100%;
  height: 100%;
}

.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__nav {
  color: #131313;
  font-size: 13px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  display: block;
  padding-top: 9px;
  text-decoration: none;
}

.footer__leftnav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 120px;
}

.footer__middlenav {
  margin-left: 120px;
}

.footer__rightnav {
  margin-left: 120px;
}

.footer__description {
  margin-bottom: 7px;
  color: #333333;
  font-size: 13px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.footer__text {
  color: #131313;
  font-size: 13px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  padding: 20px 0 30px;
  line-height: 20px;
}

.footer__content {
  color: #313131;
  font-size: 13px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
}

.footer__rectangle {
  margin-bottom: 30px;
}

.footer__trtext {
  color: #D3D3D3;
  font-size: 13px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  padding: 20px 0;
  line-height: 20px;
}

.footer__pay {
  color: #D3D3D3;
  font-size: 13px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
}

.footer__button {
  background-color: #F9A38F;
  border-radius: 20px;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  outline: none;
  border: none;
  padding: 3px 14px 3px 11px;
}

.footer__bttext {
  color: #D3D3D3;
  font-size: 13px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
}

.footer__icon {
  margin-left: 10px;
}

.footer__icon:first-child {
  margin-bottom: 2px;
}

.footer__icon:last-child {
  margin-bottom: 6px;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px 0 80px;
}

.footer__bttext {
  margin-top: 5px;
}

.footer__btright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
  margin-left: 815px;
}
