$color-herobg:#FFF8EE;
$color-new:#F9A38F;
$color-white: #FFFFFF;
$color-heroButton:#F9EDE2;
$color-buttomrighttext:#4D4D4D;
$color-title:#322F2E;
$color-temnokorichneviy:#5e2708;
$color-korichnevy:#C47344;
$fonts-roboto:'Roboto',sans-serif;