<<<<<<< HEAD
<<<<<<< HEAD
=======

>>>>>>> 77d991894673f67622cd0d934472d4a59a70806b
$color-herobg:#FFF8EE;
$color-new:#F9A38F;
$color-white: #FFFFFF;
$color-heroButton:#F9EDE2;
$color-buttomrighttext:#4D4D4D;
$color-title:#322F2E;
$color-temnokorichneviy:#5e2708;
$color-korichnevy:#C47344;
$fonts-roboto:'Roboto',sans-serif;
<<<<<<< HEAD
=======
$color-bg: #FFF8EE;
$color-black:#322F2E;
$font-fam: 'Roboto', sans-serif;
>>>>>>> cd22410161c6945248cc72f8b4b90258ab334b92
=======
$color-bg: #FFF8EE;
$color-black:#322F2E;
$font-fam: 'Roboto', sans-serif;

>>>>>>> 77d991894673f67622cd0d934472d4a59a70806b
